#home-page {
    /* for testing purposes... when implementing, please remove height: 200vh */
    height: 100vh;
}

.content-box {
    background-color: antiquewhite;
    height: 60%;
    margin-bottom: 1%;
}

.items {
    margin: 1rem 17rem 1rem 17rem;
}